{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}
<div class="container">

    <div class="d-flex justify-content-center flex-column">
        <h1 class='text-center fw-bold my-5'>마이 페이지</h1>
        <div class='d-flex'>
            <div class='me-3' onclick='location.href="{% url 'accounts:profile' user.pk %}"' style='cursor: pointer;'>
                {% if user.profile.image %}
                <img src="{{ user.profile.image.url }}" alt="" style='width:5rem; height:5rem' class='rounded-circle'>
                {% elif user.profile.thumbnail.image %}
                <img src="{{ user.profile.thumbnail.url }}" alt="" style='width:5rem; height:5rem' class='rounded-circle'>
                {% else %}
                <img src="{% static 'profile/guest.png' %}" alt="" style='width:5rem; height:5rem' class='rounded-circle'>
                {% endif %}
            </div>
            <div>
                <div>
                    <a class='btn btn-light mb-2' href='{% url 'accounts:profile' user.pk %}'>{{ user }}</a>
                    {% if request.user.is_authenticated %}
                    {% if request.user != user %}
                        {% if request.user in user.followers.all %}
                        <span id='follow' data-user-id='{{ user.pk }}' class='btn btn-outline-primary mb-2'>팔로우 취소</span>
                        {% else %}
                        <span id='follow' data-user-id='{{ user.pk }}' class='btn btn-primary mb-2'>팔로우</span>
                        {% endif %}
                    {% endif %}
                    {% endif %}
                </div>
                    {% if request.user == user %}
                <div>
                    <a href="{% url 'accounts:update' %}" class="btn btn-warning">정보수정</a>
                    <a href="#" class="btn btn-primary">내 스타일</a>
                </div>
                {% endif %}
            </div>
        </div>
        <div class='d-flex my-4'>
            <p class="small fw-bold me-4">전체 게시글 </p> 
            <p class="small fw-bold me-4 text-primary">팔로워 <span id='followers' class='text-dark'>{{ user.followers.count }}</span></p>
            <p class="small fw-bold text-primary">팔로잉 <span id='followings' class='text-dark'>{{ user.followings.count }}</span></p>
        </div>
        <div class="row g-3 my-3">
            <div class="col-6 col-md-3">
                <div class="card">
                    <img src="https://dummyimage.com/600x400/000/fff" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="card">
                    <img src="https://dummyimage.com/600x400/000/fff" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="card">
                    <img src="https://dummyimage.com/600x400/000/fff" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="card">
                    <img src="https://dummyimage.com/600x400/000/fff" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
    {% endblock  %}
    {% block script1 %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
        const followBtn = document.querySelector('#follow')
        followBtn.addEventListener('click', function(event) {
            axios({
                method: 'get',
                url: `/accounts/follow/${event.target.dataset.userId}/`
            })
            .then(response => {
                if( response.data.is_followed == true) {
                    event.target.classList.remove('btn-primary')
                    event.target.classList.add('btn-outline-primary')
                    followBtn.innerText= '팔로우취소'
                } else {
                    event.target.classList.remove('btn-outline-primary')
                    event.target.classList.add('btn-primary')
                    followBtn.innerText='팔로우'
                }
                const followers = document.querySelector('#followers')
                const followings = document.querySelector('#followings')
                followers.innerText = response.data.followersC
                followings.innerText = response.data.followingsC
            })
        })
    </script>
    {% endblock script1 %}