{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}
<div class="container">
    <h1 class="text-center fw-bold my-5">프로필</h1>
    <div class="row">
        <div class="col-6 d-flex flex-column align-content-center" >
            <div class='row justify-content-center'>
                {% if user.profile.image %}
                <div class='col-5 text-center'>
                    <img src="{{ user.profile.image.url }}" alt="{{ user.profile.image }}">
                    <div class='text-center d-grid'>
                        <a href="{% url 'accounts:pupdate' %}" class='btn btn-primary my-2'>프로필 업데이트</a>
                    </div>
                </div>

                    {% elif user.profile.thumbnail %}
                    
                <div class='col-5 text-center'>
                    <img src="{{ user.profile.thumbnail.url }}" alt="{{ user.profile.thumbnail }}">
                    <div class='text-center d-grid'>
                        <a href="{% url 'accounts:pupdate' %}" class='btn btn-primary my-2'>프로필 업데이트</a>
                    </div>
                </div>

                    {% else %}
                <div class='text-center'>
                    <img src="{% static 'profile/guest.png' %}" alt="" class='text-cneter'>
                    {% if request.user == user %}
                    <div class='text-center d-grid'>
                        <a href="{% url 'accounts:pupdate' %}" class='btn btn-primary my-2'>프로필 업데이트</a>
                    </div>
                    {% endif %}
                </div>

                    {% endif %}
            </div>
        </div>
        <div class="col-6">
            <p>아이디 : {{ user }}</p>
            <p>이메일 : {{ user.email }}</p>
            <p>이름 : {{ user.last_naem }} {{ user.first_name }}</p>
            <p>상태메세지 : {{ user.profile.status }}</p>
        </div>
    </div>
</div>
{% endblock  %}