{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}

<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="{% static 'images/dummy600.png' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="{% static 'images/dummy600.png' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/dummy600.png' %}" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<div class="row mt-5">
    <div class="col-3">
        <div class="text-center" style="cursor:pointer" onclick ="location.href='{% url "articles:category" 1 %}';">
            <picture class="img-fluid">
                <source srcset="https://via.placeholder.com/300X100"/ media="(min-width: 700px)" class ="rounded" style="width:100%">
                <img src="https://via.placeholder.com/100X100"/ media="(min-width: 500px)" class="rounded-pill" style="width:100%">
                <p class="text-center">Nike</p>
            </picture>
        </div>
    </div>
    <div class="col-3">
        <div class="text-center" style="cursor:pointer" onclick ="location.href='{% url "articles:category" 2 %}';">
            <picture class="img-fluid">
                <source srcset="https://via.placeholder.com/300X100"/ media="(min-width: 700px)" class ="rounded" style="width:100%">
                <img src="https://via.placeholder.com/100X100"/ media="(min-width: 500px)" class="rounded-pill" style="width:100%">
                <p class="text-center">Adidas</p>
            </picture>
        </div>
    </div>
    <div class="col-3">
        <div class="text-center" style="cursor:pointer" onclick ="location.href='{% url "articles:category" 3 %}';">
            <picture class="img-fluid">
                <source srcset="https://via.placeholder.com/300X100"/ media="(min-width: 700px)" class ="rounded" style="width:100%">
                <img src="https://via.placeholder.com/100X100"/ media="(min-width: 500px)" class="rounded-pill" style="width:100%">
                <p class="text-center">New Balance</p>
            </picture>
        </div>
    </div>
    <div class="col-3">
        <div class="text-center" style="cursor:pointer" onclick ="location.href='{% url "articles:category" 4 %}';">
            <picture class="img-fluid">
                <source srcset="https://via.placeholder.com/300X100"/ media="(min-width: 700px)" class ="rounded" style="width:100%">
                <img src="https://via.placeholder.com/100X100"/ media="(min-width: 500px)" class="rounded-pill" style="width:100%">
                <p class="text-center">ETC</p>
            </picture>
        </div>
    </div>
</div>

<h6 class="mt-5"> Style pick!
<p class="text-muted"><small>설명글</small></p>

<div class ="row">
    <div class="card border-0 mb-3 col-lg-3 col-6" style="cursor:pointer" onclick ="location.href='#/';">
        <img src="https://via.placeholder.com/100X100"/ class="card-img-top" alt="...">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <img class='rounded-circle my-3 me-1' src="https://via.placeholder.com/30x30"/ alt="{{ user.image }}">
                <h5 class="card-title">유저네임{{ user.name }}</h5>
            </div>  
            <p class="card-text text-truncate">글내용 {{ articles.detail }}</p>
            <div class="d-flex">
                <div class="d-flex">
                    {% if request.user.is_authenticated %}
                    {% if request.user in article.like_users.all %}
                        <i id='like-btn' data-article-id="{{ article.pk }}" class="bi bi-heart-fill"></i>
                    {% else %}
                        <i id='like-btn' data-article-id="{{ article.pk }}" class="bi bi-heart"></i>
                    {% endif %}
                    {% endif %}
                    {{ article.like_users.count }} 12
                </div>
                <div class="d-flex ms-2">
                    <i id="chat-btn" data-article-id="{{ article.pk }}" class="bi bi-chat"></i>
                    {{ article.comment_users.count }} 5
                </div>
            </div>
        </div>
    </div>
    <div class="card border-0 mb-3 col-lg-3 col-6" style="cursor:pointer" onclick ="location.href='#/';">
        <img src="https://via.placeholder.com/100X100"/ class="card-img-top" alt="...">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <img class='rounded-circle my-3 me-1' src="https://via.placeholder.com/30x30"/ alt="{{ user.image }}">
                <h5 class="card-title">유저네임{{ user.name }}</h5>
            </div>  
            <p class="card-text text-truncate">글내용 {{ articles.detail }}</p>


            <!-- {% if request.user.is_authenticated %}
            {% if request.user in article.like_users.all %}
                <i id='like-btn' data-article-id="{{ article.pk }}" class="bi bi-heart-fill"></i>
            {% else %}
                <i id='like-btn' data-article-id="{{ article.pk }}" class="bi bi-heart"></i>
            {% endif %}
            {% endif %}
            <span id="like-count" class='px-2'>
            {{ article.like_users.count }}
            </span> -->
        </div>
    </div>
    <div class="card border-0 mb-3 col-lg-3 col-6" style="cursor:pointer" onclick ="location.href='#/';">
        <img src="https://via.placeholder.com/100X100"/ class="card-img-top" alt="...">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <img class='rounded-circle my-3 me-1' src="https://via.placeholder.com/30x30"/ alt="{{ user.image }}">
                <h5 class="card-title">유저네임{{ user.name }}</h5>
            </div>  
            <p class="card-text text-truncate">글내용 {{ articles.detail }}</p>
            {% if request.user.is_authenticated %}
            {% if request.user in article.like_users.all %}
                <i id='like-btn' data-article-id="{{ article.pk }}" class="bi bi-heart-fill"></i>
            {% else %}
                <i id='like-btn' data-article-id="{{ article.pk }}" class="bi bi-heart"></i>
            {% endif %}
            {% endif %}
            <span id="like-count" class='px-2'>
            {{ article.like_users.count }}
            </span>
        </div>
    </div>
    <div class="card border-0 mb-3 col-lg-3 col-6" style="cursor:pointer" onclick ="location.href='#/';">
        <img src="https://via.placeholder.com/100X100"/ class="card-img-top" alt="...">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <img class='rounded-circle my-3 me-1' src="https://via.placeholder.com/30x30"/ alt="{{ user.image }}">
                <h5 class="card-title">유저네임{{ user.name }}</h5>
            </div>  
            <p class="card-text text-truncate">글내용 {{ articles.detail }}</p>
            {% if request.user.is_authenticated %}
            {% if request.user in article.like_users.all %}
                <i id='like-btn' data-article-id="{{ article.pk }}" class="bi bi-heart-fill"></i>
            {% else %}
                <i id='like-btn' data-article-id="{{ article.pk }}" class="bi bi-heart"></i>
            {% endif %}
            {% endif %}
            <span id="like-count" class='px-2'>
            {{ article.like_users.count }}
            </span>
            
        </div>
    </div>
</div>
{% endblock %}