{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'images/인덱스1.jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/인덱스2.jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/인덱스4.jpg' %}" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<div class="row mt-5">
    <div class="col-3">
        <div class="text-center" style="cursor:pointer" onclick ="location.href='{% url "articles:category" 1 %}';">
            <picture class="img-fluid">
                <source srcset="{% static 'images/나이키인덱스 (3).png' %}" media="(min-width: 700px)" class ="rounded" style="width:100%">
                <img src="{% static 'images/나이키인덱스 (100).png' %}" media="(min-width: 500px)" class="rounded-pill" style="width:100%">
                <p class="text-center">Nike</p>
            </picture>
        </div>
    </div>
    <div class="col-3">
        <div class="text-center" style="cursor:pointer" onclick ="location.href='{% url "articles:category" 2 %}';">
            <picture class="img-fluid">
                <source srcset="{% static 'images/아디다스인덱스2.png' %}" media="(min-width: 700px)" class ="rounded" style="width:100%">
                <img src="{% static 'images/아디다스인덱스.jpg' %}" media="(min-width: 500px)" class="rounded-pill" style="width:100%">
                <p class="text-center">Adidas</p>
            </picture>
        </div>
    </div>
    <div class="col-3">
        <div class="text-center" style="cursor:pointer" onclick ="location.href='{% url "articles:category" 3 %}';">
            <picture class="img-fluid">
                <source srcset="{% static 'images/New_Balance_logo.300.png' %}" media="(min-width: 700px)" class ="rounded" style="width:100%">
                <img src="{% static 'images/New_Balance_logo.100.png' %}" media="(min-width: 500px)" class="rounded-pill" style="width:100%">
                <p class="text-center">New Balance</p>
            </picture>
        </div>
    </div>
    <div class="col-3">
        <div class="text-center" style="cursor:pointer" onclick ="location.href='{% url "articles:category" 4 %}';">
            <picture class="img-fluid">
                <source srcset="{% static 'images/jordan300.jpg' %}" media="(min-width: 700px)" class ="rounded" style="width:100%">
                <img src="{% static 'images/jordan.png' %}" media="(min-width: 500px)" class="rounded-pill" style="width:100%">
                <p class="text-center">ETC</p>
            </picture>
        </div>
    </div>
</div>

<h6 class="mt-5"> Style pick!
<p class="text-muted"><small>설명글</small></p>



<!-- {% if user.profile.image %}
    <div class='col-5 '>
        <img src="{{ user.profile.image.url }}" alt="{{ user.profile.image }}">
    </div>
{% endif %}     -->

<div class ="row">
    {% for article in articles %}
    <div class="card">
    {% if article.articles_image.all|length %}
            {% for image in article.articles_image.all %}
            {% if forloop.counter == 1 %}
                <a href="{% url 'articles:detail' article.pk %}"><img src="{{ image.image.url }}" alt="{{ article.image }}" class="card-body" style='width:100%;'></a>
                {% endif %}
                {% endfor %}
                {% else %}/articles/3/detail
                <a href="{% url 'articles:detail' article.pk %}"><img src="{% static 'images/6c757d.jpg' %}" alt="" class="rounded-4" style='width:100%;'></a>
            {% endif %}
    </div>
    <div class="card-body">
        <div class="d-flex align-items-center">
            <div class='me-3' onclick='location.href="{% url 'accounts:profile' article.user.pk %}';" style='cursor: pointer;'>
                {% if article.user.profile.image %}
                <img src="{{ article.user.profile.image.url }}" alt="" style='width:5rem; height:5rem' class='rounded-circle'>
                {% else %}
                <img src="{% static 'profile/guest.jpg' %}">
                {% endif %}
                <h5 class="card-title">{{ article.user.username }}</h5>
                <P>{{ article.content }}</P>
                <div class="d-flex justify-content-between">
                    <div class='d-flex justify-content-center my-3 text-danger'>
                        {% if request.user in article.like_users.all %}
                        <i id='like-btn' data-article-id="{{ article.pk }}" class="bi bi-heart-fill"></i>
                        {% else %}
                        <i id='like-btn' data-article-id="{{ article.pk }}" class="bi bi-heart"></i>
                        {% endif %}
                        <span id="like-count" class='px-2'>
                            {{ article.like_users.count }}
                        </span>
                    </div>
                    <div class='my-3'>
                        <span onclick="openNav()">
                            <i class="bi bi-chat pb-1" style='cursor: pointer;'></i>
                            {{ article.comment_set.count }}
                        </span>
                    </div>
                </div>



                        <!-- <span onclick="openNav()">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}

